## Manova

The difference between ANOVA and MANOVA (Multivariate Analysis of Variance) is that MANOVA deals with more 
than two dependent variables for variance analysis. 
Like ANOVA, MANOVA has both a one-way and a two-way analysis. 
The number of factor variables involved distinguish a one-way MANOVA from a two-way MANOVA.

In the example below, the null hypothesis is that the two-dimensional mean-vector of 
water hardness and mortality is the same for cities in the North and the South. 
It can be tested by Hotelling-Lawley test in MANOVA. 
The R function `manova` can be used to fit such a model. 
The corresponding summary method performs the test specified by the test argument.

The water hardness and mortality data for 61 large towns in England and Wales can be 
obtained from HSAUR package in R.

In [1]:
install.packages("HSAUR")
library(HSAUR)
data("water", package = "HSAUR")
head(water)
str(water)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Loading required package: tools

  location town       mortality hardness
1 South    Bath       1247      105
2 North    Birkenhead 1668       17
3 South    Birmingham 1466        5
4 North    Blackburn  1800       14
5 North    Blackpool  1609       18
6 North    Bolton     1558       10

'data.frame':	61 obs. of  4 variables:
 $ location : Factor w/ 2 levels "North","South": 2 1 2 1 1 1 1 2 1 2 ...
 $ town     : chr  "Bath" "Birkenhead" "Birmingham" "Blackburn" ...
 $ mortality: int  1247 1668 1466 1800 1609 1558 1807 1299 1637 1359 ...
 $ hardness : int  105 17 5 14 18 10 15 78 10 84 ...

In [2]:
summary(manova(cbind(hardness, mortality) ~ location, data = water), test = "Hotelling-Lawley")

          Df Hotelling-Lawley approx F num Df den Df    Pr(>F)
location   1          0.90021   26.106      2     58 8.217e-09 ***
Residuals 59
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

The `cbind` statement combines hardness and mortality into a multivariate response variable to be modelled. 
The p-value associated with the Hotelling-Lawley statistic is very small. 
It indicates a strong evidence that the mean vectors of the two variables are not the same in the two regions.

**NOTE:** That we have changed modeling to be a _multivariate_ dependent, as a 2-tuple in this case `(hardness, mortality)`.

```R
cbind(hardness, mortality) ~ location
```

Recall that the `t()` function transposes the matrix.

Not review the API documentation for `tapply`.

In [3]:
help(tapply)

In [4]:
t(tapply(water$hardness, water$location, mean))

     North South
[1,] 30.4  69.76923

In [5]:
t(tapply(water$mortality, water$location, mean))

     North  South
[1,] 1633.6 1376.808

There is large differences in the two regions in both water hardness and mortality, 
where low mortality is associated with hard water in the South and high mortality with soft water in the North.

Now, let's look at our familiar auto-mpg data again.

In [6]:
auto_data=read.csv("/dsa/data/all_datasets/auto-mpg/auto-mpg.csv")
head(auto_data)

  mpg cylinders displacement horsepower weight acceleration model.year origin
1 18  8         307          130.0      3504   12.0         70         1
2 15  8         350          165.0      3693   11.5         70         1
3 18  8         318          150.0      3436   11.0         70         1
4 16  8         304          150.0      3433   12.0         70         1
5 17  8         302          140.0      3449   10.5         70         1
6 15  8         429          198.0      4341   10.0         70         1
  car.name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [7]:
str(auto_data)
auto_data$origin = factor(auto_data$origin)

'data.frame':	398 obs. of  9 variables:
 $ mpg         : num  18 15 18 16 17 15 14 14 14 15 ...
 $ cylinders   : int  8 8 8 8 8 8 8 8 8 8 ...
 $ displacement: num  307 350 318 304 302 429 454 440 455 390 ...
 $ horsepower  : Factor w/ 94 levels "?    ","100.0",..: 17 35 29 29 24 42 47 46 48 40 ...
 $ weight      : int  3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 ...
 $ acceleration: num  12 11.5 11 12 10.5 10 9 8.5 10 8.5 ...
 $ model.year  : int  70 70 70 70 70 70 70 70 70 70 ...
 $ origin      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ car.name    : Factor w/ 305 levels "amc ambassador brougham",..: 50 37 232 15 162 142 55 224 242 2 ...

Let's create a multivariate predicted dependent variable from 
`mpg`, `cylinders`, `displacement`, `weight`, and `acceleration`.

In [8]:
summary(manova(cbind(mpg, cylinders, displacement,weight,acceleration) ~ origin * horsepower, 
               data = auto_data), test = "Hotelling-Lawley")

                   Df Hotelling-Lawley approx F num Df den Df    Pr(>F)
origin              2          10.8036  279.813     10    518 < 2.2e-16 ***
horsepower         93          20.4673   11.374    465   1292 < 2.2e-16 ***
origin:horsepower  38           1.3641    1.855    190   1292  5.75e-10 ***
Residuals         264
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Again the p-values indicates that the mean values of the groups formed by the factors `origin` and `horsepower` are different. 

Now let's look at the relationship of the means factored by origin for each of the dependent variables.

In [9]:
print('mpg vs origin')
t(tapply(auto_data$mpg, auto_data$origin, mean))

print('cylinders vs origin')
t(tapply(auto_data$cylinders, auto_data$origin, mean))

print('displacement vs origin')
t(tapply(auto_data$displacement, auto_data$origin, mean))

print('weight vs origin')
t(tapply(auto_data$weight, auto_data$origin, mean))

print('acceleration vs origin')
t(tapply(auto_data$acceleration, auto_data$origin, mean))

[1] "mpg vs origin"

     1        2        3
[1,] 20.08353 27.89143 30.45063

[1] "cylinders vs origin"

     1        2        3
[1,] 6.248996 4.157143 4.101266

[1] "displacement vs origin"

     1        2        3
[1,] 245.9016 109.1429 102.7089

[1] "weight vs origin"

     1        2      3
[1,] 3361.932 2423.3 2221.228

[1] "acceleration vs origin"

     1        2        3
[1,] 15.03373 16.78714 16.17215

The mean values of each group corresponding to 3 origins are different in most of the cases. 
They vary a lot in `mpg`, `displacement`, and `weight`. 
Origin 1 vehicles are significantly different than origin 2 and 3 vehicles w.r.t to cylinders but vehicles from origin 2 and 3 have similar mean values. 

All variables look significant in this dataset since all variables have variation in the data. 
All variables can be used when building a model on this dataset. 
ANOVA and MANOVA will help you make this decision by analyzing the amount of variation that exists in a variable. 
If there is no variation in variable data it is essentially not contributing anything when 
predicting the dependent variable so it can be excluded from model fitting. 


# Save your notebook!