# Intro to Statistics with `R`

## Read in the Data

In [1]:
bikeshare_hour <- read.csv('/dsa/data/all_datasets/bikeshare/hour.csv')

Now that the data is read in, how would you remove the `Id` column from the dataframe in `R`. Remember, `R` is very flexible so there are several ways to remove columns. Do the following:

**Activity 1**: Find the dimensions (the number of rows and columns) of the data frame. *Hint: You will have to look up the function to do this as it was not mentioned in the lab*.

In [2]:
#' Code for Activity 1 goes here -----------------------
dim(bikeshare_hour)

[1] 17379    17

**Activity 2**: Display the ***last*** 10 columns of the data frame.

In [3]:
#' Code for Activity 2 goes here -----------------------
tail(bikeshare_hour,10)

      instant dteday     season yr mnth hr holiday weekday workingday
17370 17370   2012-12-31 1      1  12   14 0       1       1
17371 17371   2012-12-31 1      1  12   15 0       1       1
17372 17372   2012-12-31 1      1  12   16 0       1       1
17373 17373   2012-12-31 1      1  12   17 0       1       1
17374 17374   2012-12-31 1      1  12   18 0       1       1
17375 17375   2012-12-31 1      1  12   19 0       1       1
17376 17376   2012-12-31 1      1  12   20 0       1       1
17377 17377   2012-12-31 1      1  12   21 0       1       1
17378 17378   2012-12-31 1      1  12   22 0       1       1
17379 17379   2012-12-31 1      1  12   23 0       1       1
      weathersit temp atemp  hum  windspeed casual registered cnt
17370 2          0.28 0.2727 0.45 0.2239    62     185        247
17371 2          0.28 0.2879 0.45 0.1343    69     246        315
17372 2          0.26 0.2576 0.48 0.1940    30     184        214
17373 2          0.26 0.2879 0.48 0.0896    14     150        164
17374 2          0.26 0.2727 0.48 0.1343    10     112        122
17375 2          0.26 0.2576 0.60 0.1642    11     108        119
17376 2          0.26 0.2576 0.60 0.1642     8      81         89
17377 1          0.26 0.2576 0.60 0.1642     7      83         90
17378 1          0.26 0.2727 0.56 0.1343    13      48         61
17379 1          0.26 0.2727 0.65 0.1343    12      37         49

**Activity 3**: Run summary command learnt in lab and identify each variable if its categorical or numerical.

In [4]:
# Code for Activity 3 goes here -----------------------
summary(bikeshare_hour)

    instant             dteday          season            yr
 Min.   :    1   2011-01-01:   24   Min.   :1.000   Min.   :0.0000
 1st Qu.: 4346   2011-01-08:   24   1st Qu.:2.000   1st Qu.:0.0000
 Median : 8690   2011-01-09:   24   Median :3.000   Median :1.0000
 Mean   : 8690   2011-01-10:   24   Mean   :2.502   Mean   :0.5026
 3rd Qu.:13034   2011-01-13:   24   3rd Qu.:3.000   3rd Qu.:1.0000
 Max.   :17379   2011-01-15:   24   Max.   :4.000   Max.   :1.0000
                 (Other)   :17235
      mnth              hr           holiday           weekday
 Min.   : 1.000   Min.   : 0.00   Min.   :0.00000   Min.   :0.000
 1st Qu.: 4.000   1st Qu.: 6.00   1st Qu.:0.00000   1st Qu.:1.000
 Median : 7.000   Median :12.00   Median :0.00000   Median :3.000
 Mean   : 6.538   Mean   :11.55   Mean   :0.02877   Mean   :3.004
 3rd Qu.:10.000   3rd Qu.:18.00   3rd Qu.:0.00000   3rd Qu.:5.000
 Max.   :12.000   Max.   :23.00   Max.   :1.00000   Max.   :6.000

   workingday       weathersit         temp           atemp
 Min.   :0.0000   Min.   :1.000   Min.   :0.020   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:1.000   1st Qu.:0.340   1st Qu.:0.3333
 Median :1.0000   Median :1.000   Median :0.500   Median :0.4848
 Mean   :0.6827   Mean   :1.425   Mean   :0.497   Mean   :0.4758
 3rd Qu.:1.0000   3rd Qu.:2.000   3rd Qu.:0.660   3rd Qu.:0.6212
 Max.   :1.0000   Max.   :4.000   Max.   :1.000   Max.   :1.0000

      hum           windspeed          casual         registered
 Min.   :0.0000   Min.   :0.0000   Min.   :  0.00   Min.   :  0.0
 1st Qu.:0.4800   1st Qu.:0.1045   1st Qu.:  4.00   1st Qu.: 34.0
 Median :0.6300   Median :0.1940   Median : 17.00   Median :115.0
 Mean   :0.6272   Mean   :0.1901   Mean   : 35.68   Mean   :153.8
 3rd Qu.:0.7800   3rd Qu.:0.2537   3rd Qu.: 48.00   3rd Qu.:220.0
 Max.   :1.0000   Max.   :0.8507   Max.   :367.00   Max.   :886.0

      cnt
 Min.   :  1.0
 1st Qu.: 40.0
 Median :142.0
 Mean   :189.5
 3rd Qu.:281.0
 Max.   :977.0

Below is one of the ways that you can subset a data frame based. Run the code below to see what it returns.

In [5]:
head(bikeshare_hour[bikeshare_hour$cnt > 100,])

   instant dteday     season yr mnth hr holiday weekday workingday weathersit
15 15      2011-01-01 1      0  1    14 0       6       0          2
16 16      2011-01-01 1      0  1    15 0       6       0          2
54 54      2011-01-03 1      0  1     8 0       1       1          1
63 63      2011-01-03 1      0  1    17 0       1       1          1
64 64      2011-01-03 1      0  1    18 0       1       1          1
65 65      2011-01-03 1      0  1    19 0       1       1          1
   temp atemp  hum  windspeed casual registered cnt
15 0.46 0.4545 0.72 0.2836    35      71        106
16 0.44 0.4394 0.77 0.2985    40      70        110
54 0.14 0.1212 0.50 0.2836     1     153        154
63 0.24 0.2273 0.30 0.2239    11     146        157
64 0.24 0.2576 0.32 0.1045     9     148        157
65 0.20 0.2576 0.47 0.0000     8     102        110

So what is the most common type of weather that happens?

**Activity 4**: Find out the most common type of weather that occurs in the dataset.

In [1]:
help(table)

In [8]:
table(bikeshare_hour$weathersit)
which.max(table(bikeshare_hour$weathersit))

    1     2     3     4
11413  4544  1419     3

1
1

In [6]:
# Code for Activity 4 goes here -----------------------
names(which.max(table(bikeshare_hour$weathersit)))

[1] "1"

Let’s say, we want to check the significance of variable weekday for hypothesis testing .Assume that monday(weekday 1)  have more bike shares than average population bike shares

To verify this assumption, let’s use z-test and see, if monday has more bike shares than the over all population.

H0: There is no significant difference in the number of bike shares for Monday versus any other day of the week.

H1: There is a better chance of monday having more bike shares than population bike shares.

**Activity 5**: Test the hypothesis if the null hypothesis H0, is true or not. Calculate the z-score.

In [9]:
# Code for Activity 5 goes here -----------------------
monday <- subset(bikeshare_hour, weekday == 1)

z.test = function(x, y, z){
 sample_mean = mean(x)
 print(paste("sample mean : ",sample_mean))
 pop_mean = mean(y)
 print(paste("population mean : ",pop_mean))
 pop_var = var(y)
 print(paste("population variance : ",pop_var))
 zscore = (sample_mean - pop_mean) / (sqrt(pop_var))
 return(zscore)
}

#call function
z.test(monday$cnt, bikeshare_hour$cnt, bikeshare_hour)

[1] "sample mean :  183.744655102864"
[1] "population mean :  189.463087634501"
[1] "population variance :  32901.4611043111"

[1] -0.03152604

In [10]:
t(tapply(bikeshare_hour$cnt,bikeshare_hour$weekday,mean))

     0        1        2        3        4        5        6
[1,] 177.4688 183.7447 191.2389 191.1305 196.4367 196.1359 190.2098

Will the day of the week really matters for number of bike shares that are happening. 

**Activity 6: ** Check for the dependence between weekday and cnt variables using a chi square independence test you came across in the lab.

In [ ]:
# Code for Activity 6 goes here -----------------------
chisq.test(c(bikeshare_hour$weekday,bikeshare_hour$cnt))

Let's say we were interested in analyzing patters on weekdays and weekends. 

**Activity 7**: subset the data set into two different subsets for rows where the weekday = 1,2,3,4,5 for weekday and 0,6 for weekend.

In [ ]:
#' Code for Activity 7 goes here -----------------------
weekday = bikeshare_hour[bikeshare_hour$weekday %in% c(1,2,3,4,5),]
weekend = bikeshare_hour[bikeshare_hour$weekday %in% c(0,6),]
print(nrow(weekday))
print(nrow(weekend))

In [2]:
head(bikeshare_hour)

  instant     dteday season yr mnth hr holiday weekday workingday weathersit
1       1 2011-01-01      1  0    1  0       0       6          0          1
2       2 2011-01-01      1  0    1  1       0       6          0          1
3       3 2011-01-01      1  0    1  2       0       6          0          1
4       4 2011-01-01      1  0    1  3       0       6          0          1
5       5 2011-01-01      1  0    1  4       0       6          0          1
6       6 2011-01-01      1  0    1  5       0       6          0          2
  temp  atemp  hum windspeed casual registered cnt
1 0.24 0.2879 0.81    0.0000      3         13  16
2 0.22 0.2727 0.80    0.0000      8         32  40
3 0.22 0.2727 0.80    0.0000      5         27  32
4 0.24 0.2879 0.75    0.0000      3         10  13
5 0.24 0.2879 0.75    0.0000      0          1   1
6 0.24 0.2576 0.75    0.0896      0          1   1

Let's say we were interested in analyzing distribution of data whether its a working day or not and the weather situation on that day. 

**Activity 8**: Find the distribution of data based on workingday or not and kind of weather for the day. Use the table command that was introduced in lab to get an idea of how values are distributed between these two variables.

In [ ]:
#' Code for Activity 8 goes here -----------------------
table(bikeshare_hour$workingday,bikeshare_hour$weathersit)

** Activity 9**: Identify the datatype of each variable in dataframe by applying class function to all variables. You were introduced to this command in Intro to Data Science course or you look up for this command.

In [ ]:
#' Code for Activity 9 goes here -----------------------
sapply(bikeshare_hour,class)

**Activity 10**: Check the structure of the dataframe. You have to look up for this command. This command will give you the dimensions of dataframe, type of each variable and intial first 10 values of the variable. Its a very command to get a quick overview of dataframe.

In [ ]:
#' Code for Activity 10 goes here -----------------------
str(bikeshare_hour)

Lets see if people are more interested in riding the bike on weekdays or weekends. 

**Activity 11: ** Find out if people are interested in riding the bike on weekdays or weekends. Find the number of instances for weekdays and weekends.

In [12]:
#' Code for Activity 11 goes here -----------------------

table(bikeshare_hour$weekday)

   0    1    2    3    4    5    6
2502 2479 2453 2475 2471 2487 2512

In [13]:
#Code for Activity 11 continued
weekday_count=2479+2453+2475+2471+2487
paste('weekday: ',weekday_count)
weekend_count=2502+2512
paste('weekend: ',weekend_count)
paste('weekday percentile',weekday_percentile= weekday_count/nrow(bikeshare_hour))
paste('weekend percentile',weekend_percentile= weekend_count/nrow(bikeshare_hour))

paste('weekday average',12365/5)
paste('weekend average',5014/2)

[1] "weekday:  12365"

[1] "weekend:  5014"

[1] "weekday percentile 0.711490879797457"

[1] "weekend percentile 0.288509120202543"

[1] "weekday average 2473"

[1] "weekend average 2507"

**Activity 12: ** Find out the day and hour when the maximum number of bikes were shared

In [ ]:
# Code for Activity 12 goes here -----------------------
bikeshare_hour[which(bikeshare_hour$cnt==max(bikeshare_hour$cnt)),]

Lets do some data cleaning for taking up the next activity

In [ ]:
#First get the count of total bike shares based on each hour of the day and weekday
hour_sums=t(tapply(bikeshare_hour$cnt, bikeshare_hour$hr,sum))
day_sums=t(tapply(bikeshare_hour$cnt, bikeshare_hour$weekday,sum))

tapply() definition from R-manual: Apply a function to each cell of a ragged array, that is to each (non-empty) group of values given by a unique combination of the levels of certain factors.

Simply put, In our example of hour_sums variable, the the data is partitioned based on second parameter bikeshare_hour$hr. So 24 subsets are created for each hour(0 to 23). The 3rd arguement which could be any function(sum,mean,median etc) on the first parameter of the subsets created. 

The t() is used to return transpose input dataframe or matrix. Jupyter has issues rendering tapply() output, so t() is a workaround to display the output correctly.

If you check the dimensions of hour_sums and day_sums variables they are dataframes. But we want the output in the form of a vector. So how can we convert a dataframe to a vector?

In [ ]:
#The above piece of code returns dataframes as output. Check the dimensions and class to verify
dim(hour_sums)
dim(day_sums)

R has builtin function to convert data format between dataframes,matrices and vectors. You can chnage the data type and also check if certain variable is actually a dataframe or matrix or a vector using functions like is.dataframe() etc.

In [ ]:
#Convert the dataframes to array type
hour_sums=as.vector(hour_sums)
day_sums=as.vector(day_sums)
hour_sums
day_sums

## Distributions


Lets peek into the distribution of different variables and see how they are distributed.

** Activity 13: ** Plot a bar plot for bike shares for each hour of the day and also weekday. Use hour_sums and day_sums vectors just created to plot. Combine this plots using the par() or layout() command for analyzing them easily.

In [ ]:
# Code for activity 13 goes gere 

par(mfrow=c(1,2))
hour_bar=barplot(hour_sums, main="Total bike shares for each hour", 
  	xlab="Hour of the day")
axis(side=1, at = hour_bar, labels = seq(0, 23, 1))

week_bar=barplot(day_sums, main="Total bike shares for each weekday", 
  	xlab="Day of the week")
axis(side=1, at = week_bar, labels = seq(0, 6, 1))

The plots clearly tell, The peak hour of bike shares is 17 and 18 hours every day. While, thurdays and fridays are popular for bike shares in a week. This is contradicting with what we saw in activity 10 where average number of instances of bike shares are more on weekends. Lets see the average number of users who rent the bike on each week of the day are shown below.

In [ ]:
day_sums

**Activity 14: ** PLot a boxplot for cnt against each weekday

In [ ]:
#Code for activity 14 goes here.........

boxplot(bikeshare_hour$cnt~bikeshare_hour$weekday,data=bikeshare_hour, main="Bike shares", xlab="Weekday", ylab="Number of bikeshares")

** Activity 15: ** Plot histograms for variables casual, registered and cnt variables and see how they are distributed. plot mean and median on the histogram.

In [ ]:
#Code for activity 15 goes here.........

casual_mean=mean(bikeshare_hour$casual)
casual_sd=sd(bikeshare_hour$casual)
registered_mean=mean(bikeshare_hour$registered)
registered_sd=sd(bikeshare_hour$registered)
total_mean=mean(bikeshare_hour$cnt)
total_sd=sd(bikeshare_hour$cnt)

par(mfrow=c(1,3))
#plot for casual users
hist(bikeshare_hour$casual, probability = TRUE,main="Casual users distribution",xlab="Number of users",ylab="Density")
x <- 0:max(bikeshare_hour$casual)
y <- dnorm(x = x, mean = casual_mean, sd = casual_sd)
lines(x = x, y = y, col = "blue")

casual_median = median(bikeshare_hour$casual)
abline(v = casual_mean, col = "blue", lwd = 2)
abline(v = casual_median, col = "red", lwd = 2)
abline(v = casual_sd, col = "green", lwd = 2)

#plot for registered users
hist(bikeshare_hour$registered, probability = TRUE,main="registered users distribution",xlab="Number of users",ylab="Density")
x <- 0:max(bikeshare_hour$registered)
y <- dnorm(x = x, mean = registered_mean, sd = registered_sd)
lines(x = x, y = y, col = "blue")

registered_median = median(bikeshare_hour$registered)
abline(v = registered_mean, col = "blue", lwd = 2)
abline(v = registered_median, col = "red", lwd = 2)
abline(v = registered_sd, col = "green", lwd = 2)


#plot for total users
hist(bikeshare_hour$cnt, probability = TRUE,main="total users distribution",xlab="Number of users",ylab="Density")
x <- 0:max(bikeshare_hour$cnt)
y <- dnorm(x = x, mean = total_mean, sd = total_sd)
lines(x = x, y = y, col = "blue")

total_median = median(bikeshare_hour$total)
abline(v = total_mean, col = "blue", lwd = 2)
abline(v = total_median, col = "red", lwd = 2)
abline(v = total_sd, col = "green", lwd = 2)